settings.mk
vars.sh
vars.gdb
vars.tcl
logs
results
reports
objects
HotSpot/examples/3D_*
HotSpot/scripts/output
*.log
versions.txt
.cadence
fv
mp_data*
timingReports
*.rpt
*.tstamp
*.bak
.timing_file_*.tif.gz
scheduling_file.cts.*
test.scripts
run_logs
test*.sh
test.tcl
.st_launch_*
*.csv
*.opennet
summary_reports*
pics
eval_*.sh
partition_log
genus_reports